body
{
    background:#f4f7fc;
}

.order-card
{
    border-radius:20px;
    overflow:hidden;
    transition:.3s;
}

.order-card:hover
{
    transform:translateY(-5px);
}

.card-header
{
    background:linear-gradient(
      135deg,
      #0d6efd,
      #6610f2
    ) !important;
}

.badge
{
    font-size:14px;
}

.table td,
.table th
{
    vertical-align:middle;
}

h2
{
    letter-spacing:1px;
}