

.card{
    border:none;
    border-radius:20px;
    transition:.3s;
}

.card:hover{
    transform:
    translateY(-5px);

    box-shadow:
    0 15px 35px
    rgba(0,0,0,.15);
}

body {
    background:
    linear-gradient(
      135deg,
      #f8fafc,
      #dbeafe
    );

    min-height: 100vh;
}

.btn-primary {
    background: linear-gradient(
        135deg,
        #2563eb,
        #1d4ed8
    );

    border: none;
    border-radius: 10px;
}

.btn-primary:hover {
    transform: translateY(-2px);

    box-shadow:
    0 8px 20px rgba(
      37,
      99,
      235,
      .3
    );
}

.btn-success {
    background: linear-gradient(
      135deg,
      #10b981,
      #059669
    );

    border: none;
    border-radius: 10px;
}

.btn-success:hover {
    transform: translateY(-2px);

    box-shadow:
    0 8px 20px rgba(
      16,
      185,
      129,
      .3
    );
}

.btn-danger {
    background: linear-gradient(
      135deg,
      #ef4444,
      #dc2626
    );

    border: none;
    border-radius: 10px;
}